* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  text-align: center;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#map {
  height: 570px;
  width: 900px;
  background-color: rgba(255, 155, 5, 0.937);
  position: relative;
}

#player {
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  height: 400px;
  width: 300px;
  background-color: rgba(18, 113, 247, 0.545);
  /* border: 4px solid black; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#pokemonImageContainer {
  height: 30%;
  width: 100%;
  background-color: white;
  display: none;
}

#pokemonImage {
  width: 100%;
  height: 100%;
}

#pokemonInfoContainer {
  height: 70%;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: none;
}

#noPokemon {
  display: none;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#isLoading {
  display: none;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.controller {
  position: relative;
  height: 150px;
}

#upArrow {
  position: absolute;
  top: 0;
  left: 40%;
  background-color: white;
  border: none;
}

#downArrow {
  position: absolute;
  bottom: 0;
  left: 40%;
  background-color: white;
  border: none;
}

#leftArrow {
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: white;
  border: none;
}

#rightArrow {
  position: absolute;
  top: 30%;
  left: 60%;
  background-color: white;
  border: none;
}

#upArrow:active, #downArrow:active, #leftArrow:active, #rightArrow:active  {
  background-color: rgba(122, 117, 117, 0.673);
}

@media screen and (max-width: 1025px) {
  h1 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #map {
    height: 360px;
    width: 240px;
  }

  #player {
    width: 10px;
    height: 10px;
  }

  .right-container {
    width: 240px;
    flex-direction: row;
  }

  .card {
    height: 150px;
    width: 100px;
    padding: 5px;
    gap: 2px;
  }

  #noPokemon, #isLoading {
    font-size: 20px;
  }

  #pokemonId, #pokemonName, #pokemonBaseExperience, #pokemonHeight {
    font-size: 6px;
  }

  .controller {
    width: 130px;
  }

  #upArrow {
    top: 0;
    left: 40%;
  }
  
  #downArrow {
    bottom: 0;
    left: 40%;
  }
  
  #leftArrow {
    top: 30%;
    left: 20%;
  }
  
  #rightArrow {
    top: 30%;
    left: 60%;
  }
}


