* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

legend {
  margin: 10px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

legend > div {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.legend {
  width: 10px;
  height: 10px;
}

p {
  text-align: center;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#map {
  height: 540px;
  width: 900px;
  position: relative;
}

#player {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: blueviolet;
  z-index: 1;
}

#map > div {
  display: flex;
}

#map .map-type {
  height: 180px;
  width: 150px;
  position: absolute;
}

.normal {
  background-color: rgba(214, 96, 96, 0.768);
  top: 0;
  left: 0;
}

.fighting {
  background-color: rgba(252, 25, 25, 0.768);
  top: 0;
  left: 150px;
}

.flying {
  background-color: rgb(192, 255, 255);
  top: 0;
  left: 300px;
}

.poison {
  background-color: rgb(146, 8, 146);
  top: 0;
  left: 450px;
}

.ground {
  background-color: rgba(105, 3, 3, 0.652);
  top: 0;
  left: 600px;
}

.rock {
  background-color: rgba(238, 110, 12, 0.418);
  top: 0;
  left: 750px;
}

.bug {
  background-color: rgb(35, 103, 35);
  top: 180px;
  left: 0;
}

.ghost {
  background-color: rgb(93, 91, 91);
  top: 180px;
  left: 150px;
}

.steel {
  background-color: rgb(146, 143, 143);
  top: 180px;
  left: 300px;
}

.fire {
  background-color: rgb(246, 0, 0);
  top: 180px;
  left: 450px;
}

.water {
  background-color: rgb(5, 69, 219);
  top: 180px;
  left: 600px;
}

.grass {
  background-color: rgb(46, 145, 0);
  top: 180px;
  left: 750px;
}

.electric {
  background-color: rgba(248, 220, 7, 0.94);
  top: 360px;
  left: 0px;
}

.psychic {
  background-color: rgb(254, 1, 254);
  top: 360px;
  left: 150px;
}

.ice {
  background-color: rgb(6, 246, 246);
  top: 360px;
  left: 300px;
}

.dragon {
  background-color: rgba(169, 6, 6, 0.668);
  top: 360px;
  left: 450px;
}

.dark {
  background-color: rgba(40, 41, 39, 0.586);
  top: 360px;
  left: 600px;
}

.fairy {
  background-color: rgb(234, 114, 134);
  top: 360px;
  left: 750px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  height: 400px;
  width: 300px;
  background-color: rgba(18, 113, 247, 0.545);
  /* border: 4px solid black; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#pokemonImageContainer {
  height: 30%;
  width: 100%;
  background-color: white;
  display: none;
}

#pokemonImage {
  width: 100%;
  height: 100%;
}

#pokemonInfoContainer {
  height: 70%;
  width: 100%;
  padding: 10px;
  background-color: white;
  display: none;
}

#noPokemon {
  display: none;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#isLoading {
  display: none;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.controller {
  position: relative;
  height: 150px;
}

#upArrow {
  position: absolute;
  top: 0;
  left: 40%;
  background-color: white;
  border: none;
}

#downArrow {
  position: absolute;
  bottom: 0;
  left: 40%;
  background-color: white;
  border: none;
}

#leftArrow {
  position: absolute;
  top: 30%;
  left: 20%;
  background-color: white;
  border: none;
}

#rightArrow {
  position: absolute;
  top: 30%;
  left: 60%;
  background-color: white;
  border: none;
}

#upArrow:active,
#downArrow:active,
#leftArrow:active,
#rightArrow:active {
  background-color: rgba(122, 117, 117, 0.673);
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 15px;
  }

  legend {
    margin: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  legend > div {
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #map {
    height: 180px;
    width: 300px;
  }

  #map .map-type {
    height: 60px;
    width: 50px;
  }

  #player {
    width: 10px;
    height: 10px;
  }

  .right-container {
    width: 240px;
    flex-direction: row;
  }

  .card {
    height: 150px;
    width: 100px;
    padding: 5px;
    gap: 2px;
  }

  #noPokemon,
  #isLoading {
    font-size: 20px;
  }

  #pokemonId,
  #pokemonName,
  #pokemonBaseExperience,
  #pokemonHeight {
    font-size: 6px;
  }

  .controller {
    width: 130px;
  }

  #upArrow {
    top: 0;
    left: 40%;
  }

  #downArrow {
    bottom: 0;
    left: 40%;
  }

  #leftArrow {
    top: 30%;
    left: 20%;
  }

  #rightArrow {
    top: 30%;
    left: 60%;
  }

  .normal {
    top: 0;
    left: 0;
  }

  .fighting {
    top: 0;
    left: 50px;
  }

  .flying {
    top: 0;
    left: 100px;
  }

  .poison {
    top: 0;
    left: 150px;
  }

  .ground {
    top: 0;
    left: 200px;
  }

  .rock {
    top: 0;
    left: 250px;
  }

  .bug {
    top: 60px;
    left: 0;
  }

  .ghost {
    top: 60px;
    left: 50px;
  }

  .steel {
    top: 60px;
    left: 100px;
  }

  .fire {
    top: 60px;
    left: 150px;
  }

  .water {
    top: 60px;
    left: 200px;
  }

  .grass {
    top: 60px;
    left: 250px;
  }

  .electric {
    top: 120px;
    left: 0px;
  }

  .psychic {
    top: 120px;
    left: 50px;
  }

  .ice {
    top: 120px;
    left: 100px;
  }

  .dragon {
    top: 120px;
    left: 150px;
  }

  .dark {
    background-color: rgba(40, 41, 39, 0.586);
    top: 120px;
    left: 200px;
  }

  .fairy {
    top: 120px;
    left: 250px;
  }
}
